* {
  margin: 0%;
  padding: 0%;
  background-color: #1D1E20;
}
.root {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #e8eaed;
}
.header_div {
  height: 80px;
  text-align: right;
  padding: 6px;
}
.header_div-ul {
  list-style: none;
  display: inline-flex;
  flex-direction: row;
}
.header_div-li {
  margin: 10px;
}
.header_div-img {
  width: auto;
  height: 25px;
}